/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* google fonts */

/* Common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrapper{
    width: 100%;
    max-width: 1321px;
    margin: 0 auto;
}

/* Common styles and utilities */

/* Header section starts */
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    color: #ffffff;
    padding: 0 106px;
    margin-top: 50px;
    overflow: none;
}

.banner-heading{
    font-size: 4em;
}

.banner-paragraph{
    font-size: 16px;
    line-height: 26px;
}

.Watch-live{
    padding: 15px;
    background-color: #DD0000;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.Watch-live:hover{
    background-color: rgb(87, 116, 220);
}

.player-image img{
    width: 581px;
    height: 613px;
}
/* Header section completed */

/* ----------------------- Main section started here --------------------- */
main{
    margin-top: 130px;
    margin-bottom: 130px;
}
.navbar {
    background-color: #161616;
    width: 312px;
    height: 312px;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.navbar a{
    display: inline-block;
    background-color: rgb(247, 247, 247);
     text-decoration: none;
    width: 252px;
    height: 64px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.navbar a.active {
    background-color: #DD0000;
    color: #fff;
}
.navbar ul li a{
    text-decoration: none;
    color: #161616;
}
.blog-section{
    display: flex;
    column-gap:20px ;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
}
.blog{
    display: flex;
    flex-direction: column;
    border: 1px solid #cac9c9;
    border-radius: 5px;
    padding: 53px 30px;
}
.blog-image img{
    width: 100%;
}

.blog-desc {
    padding: 20px;
}
.blog-desc h2{
    font-weight: 600;
    font-size: 18px;
}

.blog-button {
    padding: 4px 16px;
    background-color: #fff;
    color: #161616;
    border: 1px solid #161616;
    border-radius:5px;
    font-size: 1em;
    font-weight: 600;
}

.blog-history {
    font-weight: 400;
    font-size: 16px;
    color: #161616b3;
}

.duration {
    margin-right: 20px;
}

.view{
    display: none;
}
/* ----------------------- Main section ended here --------------------- */

/* --------- Footer Started ---------- */
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    color: #ffffff;
    padding: 30px;
}

.footer-heading{
    font-size: 4em;
}

hr{
    width: 100%;
    max-width: 1320px;
    margin-bottom: 50px;
}

.footer-options{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-options a{
    text-decoration: none;
    color: #B9B9B9;

}

.socials{
    margin-top: 30px;
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.socials a{
    font-size: 3em;
    color: #fdeeee;
}
/* --------- Footer ended ---------- */

/* Tablet view starts */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .banner-section{
            overflow: hidden;
            padding: 21px 61px;
            column-gap: 20px;
        }
        .banner-heading{
            font-size: 2.5em;
        }
        .banner-paragraph{
            font-size: 1em;
        }
        .player-image img{
            width: 323px;
            height: 340px;
            position: relative;
            top: 40px;
            right: 20px;
        }
        main{
            margin-top: 0;
        }
        .blog-section{
            flex-direction: column;
            align-items: center;
        }
        .navbar{
            background-color: #ffffff;
            height: 65px;
            width: 100%;
            margin-bottom: 60px;
        }
        .nav{
            flex-direction: row;
        }
        .blogs {
            grid-template-columns: repeat(2,1fr);
        }
        .view{
            display: block;
            margin-top: 30px;
        }

    }
/* Tablet view ends */

/* Mobile view starts */
@media only screen and (min-width: 360px) and (max-width: 767px) {
    .wrapper{
        width: 95%;
    }
        .banner-section{
            flex-direction: column;
            padding: 50px;
        }

        .banner-texts{
            width: 100%;
            text-align: center;
        }

        .Watch-live{
            margin: 0 auto;
        }

        .banner-heading{
            font-size: 2em;
        }
        .player-image img{
            margin-top: 20px;
            width: 233px;
            height: 245px;
        }
        main{
            margin-top: 20px;
        }
        .blog-section{
            flex-direction: column;
        }
        .navbar{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
        }
        .nav a{
            border: 1px solid #161616;
        }
        .blogs{
            grid-template-columns: repeat(1, 1fr);
        }
        .footer-options{
            flex-direction: column;
            align-items: center;
        }
}
/* Mobile view ends */

/* ------ Styles for match.html started */

.matching{
    align-items: center;
}

.flag-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.versus{
    padding: 20px;
}

/* ------ Styles for match.html ended */