/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* google fonts */

/* Common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100%;
    max-width: 1321px;
    margin: 0 auto;
}

/* Common styles and utilities */

/* Header section starts */
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    color: #ffffff;
    padding: 0 106px;
}

.banner-heading{
    font-size: 4em;
}

.banner-paragraph{
    font-size: 16px;
    line-height: 26px;
}

.Watch-live{
    padding: 15px;
    background-color: #DD0000;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.Watch-live:hover{
    background-color: rgb(87, 116, 220);
}

.player-image img{
    width: 581px;
    height: 613px;
}
/* Header section completed */

/* ----------------------- Main section started here --------------------- */
main{
    margin-top: 130px;
}
.navbar {
    background-color: #161616;
    width: 312px;
    height: 312px;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.navbar a{
    display: inline-block;
    background-color: rgb(247, 247, 247);
     text-decoration: none;
    width: 252px;
    height: 64px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.navbar a.active {
    background-color: #DD0000;
    color: #fff;
}
.navbar ul li a{
    text-decoration: none;
    color: #161616;
}

.blogs {
}

.blog-image {
}

.blog-desc {
}

.blog-button {
}

.blog-history {
}

.duration {
}

.far.fa-clock {
}

.chats {
}

.far.fa-comment {
}
/* ----------------------- Main section ended here --------------------- */